/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 768px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    color: #5b5e6d;
}

nav img {
    width: 20%;
}

header, main, footer {
    padding: 0 5%;
}

header h1 {
    color: #2C303F;
    font-size: 4.5em;
}

header p {
    font-size: 2.25em;
    color: #5b5e6d;
}

header button {
    background-color: darkblue;
    color: white;
    font-size: 2.5em;
    width: 100%;
    padding: 8%;
    border-style: none;
    border-radius: 10px; /* how to fix border radius responsive? */
}

header img {
    display: flex;
    width: 80%;
    margin: 0 auto;

}
